
* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    margin: 0;
}

main {
    display: grid;
    grid-template-rows: auto 250px; 
    grid-template-columns: 250px auto; 
    height: 100vh; 
}

.side-menu {
    grid-row: 1 / span 2; 
    grid-column: 1 / 2; 
    background-color: lightblue; 

    padding: 0.5rem;

    border: 2px solid blue;
}

.bottom-menu {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: lightcoral; 

    border: 2px solid red;
}



#game-canvas {
    width: 100%;
    height: 100%;

    border: 2px solid green;

    grid-column: 2;
    grid-row: 1;
}
  